In [7]:
Institute = "Besant TECHNOLOGIES"

print(Institute[7])
print(Institute[-12])
print(Institute[15])
print(Institute[-4])
print(Institute[10])
print(Institute[-9])
print(Institute[18])
print(Institute[-1])

T
T
G
G
H
H
S
S

In [40]:
stmt = "I AM LEARNING PYTHON AT Besant TECHNOLOGIES"

print(len(stmt))
print(stmt[0:1])
print(stmt[2:4])
print(stmt[5:13])
print(stmt[14:20])
print(stmt[21:23])
print(stmt[24:30])
print(stmt[31:43])
print(stmt[-1:-13:-1])
print(stmt[-14:-20:-1])
print(stmt[-21:-23:-1])
print(stmt[-24:-30:-1])
print(stmt[-31:-39:-1])
print(stmt[-40:-42:-1])
print(stmt[-43:-44:-1])

43
I
AM
LEARNING
PYTHON
AT
Besant
TECHNOLOGIES
SEIGOLONHCET
tnaseB
TA
NOHTYP
GNINRAEL
MA
I

In [55]:
quote = "PRACTICE MAKES MAN PERFECT"

print(quote[0:8])
print(quote[9:14])
print(quote[15:18])
print(quote[19:26])
print(quote[-1:-8:-1])
print(quote[-13:-18:-1])
print(quote[0::2])
print(quote[-1::-2])
print(quote[-2::-2])

PRACTICE
MAKES
MAN
PERFECT
TCEFREP
SEKAM
PATC AE A EFC
TERPNMSKMEICR
CFE A EA CTAP

In [57]:
x = int(input("Enter the first number:"))
y = int(input("Enter the second number:"))
z = int(input("Enter the third number:"))

add = x+y+z
sub = x-y-z
mul = x*y*z
div = x/y/z

print("Addition:",add)
print("Subtraction:",sub)
print("Multiplication:",mul)
print("Division:",div)

Enter the first number:96
Enter the second number:48
Enter the third number:24
Addition: 168
Subtraction: 24
Multiplication: 110592
Division: 0.08333333333333333

In [61]:
p = int(input("Enter the Principal:"))
t = float(input("Enter the Time taken in years:"))
r = float(input("Enter the rate of Interest"))

SI = p*t*r/100
A = p + SI
print("Simple Interest is :",SI)
print("Total Amount: ",A)

Enter the Principal:78000
Enter the Time taken in years:5
Enter the rate of Interest10
Simple Interest is : 39000.0
Total Amount:  117000.0

In [2]:
l = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))

A = l*b
P = (l+b)*2

print("Area of the rectangle =",A)
print("Perimeter of the rectangle =",P)

Enter the length of the rectangle: 7.8
Enter the breadth of the rectangle: 6.5
Area of the rectangle = 50.699999999999996
Perimeter of the rectangle = 28.6

In [3]:
r = float(input("Enter the radius of the Circle:"))
pi = 3.14

A = pi*r**2

print("Area of the circle=",A)

Enter the radius of the Circle:8.8
Area of the circle= 243.16160000000005

In [5]:
a = str(input("Enter the first word:"))
b = str(input("Enter the second word:"))

concat = a+b
rev    = a[::-1]+b[::-1]
print("Concated String :",concat)
print("Reversed Concated String :",rev)

Enter the first word:Heroic
Enter the second word:VILLAIN
Concated String : HeroicVILLAIN
Reversed Concated String : cioreHNIALLIV

In [8]:
numbers = [10,20,30,40]

numbers[0] = "ten"
numbers[1] = "twenty"
numbers[2] = "thirty"
numbers[3] = "fourty"
print(numbers)

['ten', 'twenty', 'thirty', 'fourty']

In [21]:
details = [1,"name","place","course"]

print(details[0:2])
print(details[-2:])

[1, 'name']
['place', 'course']

In [24]:
Subjects = ["english","mathematics","science","computers","hindi"]

print(Subjects[0:3])
print(Subjects[1:4])
print(Subjects[-1:-4:-1])

['english', 'mathematics', 'science']
['mathematics', 'science', 'computers']
['hindi', 'computers', 'science']

In [37]:
Numbers = (10,20,30,40,50,60,70,80,90)

print(Numbers[0::2])
print(Numbers[1::2])
print(Numbers[-1::-2])
print(Numbers[-2::-2])
print(Numbers[1:5])
Numbers[1] = "twenty"

(10, 30, 50, 70, 90)
(20, 40, 60, 80)
(90, 70, 50, 30, 10)
(80, 60, 40, 20)
(20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

In [49]:
details = [["ramesh","suresh"],
          ["bangalore","hyderabad","delhi"],
          [10,20,30,["ten","twenty","thirty"]]]
print(details[0][1])
print(details[1][1])
print(details[2][2])
print(details[2][3][2])
print(details[1][2])
print(details[0][0])
print(details[2][3][1])
details[0][1] = "vignesh"
details[1][2] = "varanasi"
print(details)

suresh
hyderabad
30
thirty
delhi
ramesh
twenty
[['ramesh', 'vignesh'], ['bangalore', 'hyderabad', 'varanasi'], [10, 20, 30, ['ten', 'twenty', 'thirty']]]

In [52]:
s1 = {"rajesh","suresh","vignesh","manish"}

print(s1)

{'suresh', 'vignesh', 'rajesh', 'manish'}

In [53]:
numbers = {10,20,20,40,59,40,67,89,67}

print(len(numbers))

6

In [64]:
Institute = "Besant technolgies"

set = set(Institute)

print(set)

TypeError: 'list' object is not callable

In [63]:
My_students = ["Pawan","Gautam Gambhir","Abdul Kalam","Subhash Chandra Bose","Gautam Gambhir"]

set = set(My_students)

print(set)

TypeError: 'list' object is not callable

In [62]:
My_students = ["Pawan", "Gautam Gambhir", "Abdul Kalam", "Subhash Chandra Bose", "Gautam Gambhir"]

# Convert list to set
My_students_set = set(My_students)

print(My_students_set)

TypeError: 'list' object is not callable

In [2]:
multiples_of_five = list(range(5,101,5))

print(multiples_of_five)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [79]:
for i in range (40,3,-4):
     print(i)

40
36
32
28
24
20
16
12
8
4

In [4]:
table_of_4 = list(range(40,3,-4))

print(table_of_4)

[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [14]:
odd = list(range(99,10,-2))
print("Odd =",odd)

Odd = [99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11]

In [12]:
even = tuple(range(50,1,-2))
print("Even =",even)

Even = (50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2)

In [22]:
d1 = {"Trainers" : 10,
      "Students" : 100,
      "Course":"Python"}
print(d1)
d1["Trainers"] = 15
print(d1)
d1["Place"]= "Hitech City"
print(d1)

{'Trainers': 10, 'Students': 100, 'Course': 'Python'}
{'Trainers': 15, 'Students': 100, 'Course': 'Python'}
{'Trainers': 15, 'Students': 100, 'Course': 'Python', 'Place': 'Hitech City'}

In [27]:
dict = {}
print(dict)

dict['Year'] = 2022
dict['Month'] = "January"
dict['Day'] = 'Monday'

print(dict)

dict['Month'] = 'May'
print(dict)
dict['Date'] = "20/5/2022"
print(dict)

{}
{'Year': 2022, 'Month': 'January', 'Day': 'Monday'}
{'Year': 2022, 'Month': 'May', 'Day': 'Monday'}
{'Year': 2022, 'Month': 'May', 'Day': 'Monday', 'Date': '20/5/2022'}

In [28]:
Age = int(input("Enter your age to check eligibility of vote:"))
if Age >= 18:
    print("You are eligible to cast your vote in India")
else:
    print("You are not eligible to cast your vote in India yet")

Enter your age to check eligibility of vote:19
You are eligible to cast your vote in India

In [31]:
a = int(input("Enter a number to compare :"))
b = int(input("Enter a number to be compared:"))

if a > b:
    print(a,"is the biggest number")
elif a < b:
    print(b,"is the biggest number")
else:
    print("a and b are equal")

Enter a number to compare :98
Enter a number to be compared:89
98 is the biggest number

In [2]:
t = float(input("Enter the temparature to know how the weather is: "))

if t < 0:
    print("The temperature is freezing")
elif t == 0 or t < 15 :
    print("The day is colder")
elif t == 15 or t < 30:
    print("The day is cool")
elif t == 30 or t < 40:
    print("The day is hot")
elif t == 40 or t < 45:
    print("The day is hottest")
else:
    print("We couldn't live in this weather anymore..")

Enter the temparature to know how the weather is: -11
The temperature is freezing

In [5]:
n = float(input("Enter even if you are a girl and odd if you are a boy: "))

if n % 2 == 0:
    print("You are a girl")
else:
    print("You are a boy")

Enter even if you are a girl and odd if you are a boy: 67
You are a boy

In [7]:
Age = int(input("Enter your age to see which type of human you belong to: "))

if Age < 0:
    print("First take birth on this earth")
elif Age <= 1 or Age < 2:
    print("You are an infant")
elif Age <= 2  or Age < 6:
    print("You are a baby")
elif Age <= 6  or Age < 13 :
    print("You are a kid")
elif Age <= 13 or Age < 20  :
    print("You are an adolescent")
elif Age <= 20 or Age < 60:
    print("You are an adult")
elif Age <= 60 or Age <=100 :
    print("You are old generation")
else:
    print("Are you an alien? Because your age is not defined")

Enter your age to see which type of human you belong to: -3
First take birth on this earth

In [16]:
g = str(input("Enter your gender:"))
a = int(input("Enter your age to check your eligibility of marriage: "))
if g == 'male' or g == 'Male' or g == 'MALE':
    if a > 21:
        print("You are eligible to marry")
    elif a<=21 :
        print("Grow up matured to marry kid")
elif g == 'female' or g == 'Female' or g == 'FEMALE':
    if a > 18:
        print("You are eligible to marry")
    elif a<=18:
        print("Be matured to decide to marry or not")
else:
    print("You can marry anytime your gender is not defined here")

Enter your gender:u
Enter your age to check your eligibility of marriage: 8
You can marry anytime your gender is not defined here

In [22]:
y = int(input("Enter any year to find if it is leap year or centurian: "))

if y%4 == 0:
    if y % 100 == 0:
        if y % 400 == 0:
            print("Centurian leap year")
        else:
            print("Not a Centurian leap year")
    else:
        print(y,"is a leap year")
else:
    print(y,"is not a leap year")

Enter any year to find if it is leap year or centurian: 2000
Centurian leap year

In [ ]:
read the year from keyboard 
1.if the year is normal year and it is divisible by 4
print"leap year" otherwise "Not leap year"
2.if the year is centurian and it is divisible by 400
print"centurian leap year" otherwise "not a centurian leap year"