In [4]:
I = "Besant TECHNOLOGIES"

print(I[7])
print(I[-12])
print(I[15])
print(I[-4])
print(I[10])
print(I[-9])
print(I[18])
print(I[-1])

T
T
G
G
H
H
S
S

In [25]:
s = "I AM LEARNING PYTHON AT Besant TECHNOLOGIES"
print(len(s))
print(s[0:1])
print(s[2:4])
print(s[5:14])
print(s[14:20])
print(s[21:24])
print(s[24:30])
print(s[31:43])
print(s[-12:])
print(s[-19:-13])
print(s[-22:-20])
print(s[-29:-23])
print(s[-38:-30])
print(s[-41:-39])
print(s[-43])

43
I
AM
LEARNING
PYTHON
AT
Besant
TECHNOLOGIES
TECHNOLOGIES
Besant
AT
PYTHON
LEARNING
AM
I

In [49]:
q = "PRACTICE MAKES MAN PERFECT"
print(q[0:8])
print(q[9:14])
print(q[15:18])
print(q[19:26])
print(q[-1:-8:-1])
print(q[-13:-18:-1])
print(q[::2])
print(q[::-2])
print(q[-2::-2])

PRACTICE
MAKES
MAN
PERFECT
TCEFREP
SEKAM
PATC AE A EFC
TERPNMSKMEICR
CFE A EA CTAP

In [52]:
a = int(input('1st number: '))
b = int(input('2nd number: '))
c = int(input('3rd number: '))

add = a+b+c
sub = a-b-c
mul = a*b*c

print("Additon= ",add)
print("Subtraction= ",sub)
print("Multiplication= ",mul)

1st number: 73
2nd number: 23
3rd number: 17
Additon=  113
Subtraction=  33
Multiplication=  28543

In [53]:
p = int(input('Principal: '))
t = int(input('Time: '))
r = int(input('Rate: '))

SI = p*t*r/100
A = p+SI

print("Simple Interest= ",SI)
print("Total Amount= ",A)

Principal: 70000
Time: 4
Rate: 5
Simple Interest=  14000.0
Total Amount=  84000.0

In [55]:
l = int(input('Length: '))
b = int(input('Breadth: '))

p = 2*(l+b)
a = l*b

print("Perimeter of Rectangle=",p)
print("Area of Rectangle=",a)

Length: 88
Breadth: 13
Perimeter of Rectangle= 202
Area of Rectangle= 1144

In [58]:
r = int(input('Radius: '))
pi = 3.14

a = pi*r**2

print("Area of Circle= ",a)

Radius: 20
Area of Circle=  1256.0

In [60]:
s1 = "Besant"
s2 = "TECHNOLOGIES"

concat = s1+s2

print("Concated string:",concat)

Concated string: BesantTECHNOLOGIES

In [62]:
s1 = "Besant"
s2 = "TECHNOLOGIES"

concat = s1[::-1]+s2[::-1]

print("Concated string:",concat)

Concated string: tnaseBSEIGOLONHCET

In [66]:
n = [10,20,30,40]

n[0] = 'ten'
n[1] = 'twenty'
n[2] = 'thirty'
n[3] = 'fourty'
print(n)

['ten', 'twenty', 'thirty', 'fourty']

In [68]:
d = [1,"name","place","course"]

print(d[0])
print(d[1])
print(d[-2])
print(d[-1])

1
name
place
course

In [71]:
s = ["english","mathematics","science","computers","hindi"]

print(s[0:3])
print(s[1:4])
print(s[-1:-4:-1])

['english', 'mathematics', 'science']
['mathematics', 'science', 'computers']
['hindi', 'computers', 'science']

In [90]:
n = (10,20,30,40,50,60,70,80,90)

print(n[0::2])
print(n[1::2])
print(n[::-2])
print(n[-2::-2])
print(n[1:5])
n[1] = 'twenty'
print(n)

(10, 30, 50, 70, 90)
(20, 40, 60, 80)
(90, 70, 50, 30, 10)
(80, 60, 40, 20)
(20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

In [99]:
d = [["ramesh","suresh"],
    ["bangalore","hyderabad","delhi"],
    [10,20,30,["ten","twenty","thirty"]]]

print(d[0][1])
print(d[1][1])
print(d[2][2])
print(d[2][3][2])
print(d[1][2])
print(d[0][0])
print(d[2][3][1])
print(d)

d[0][1] = "vignesh"
d[1][2] ="varanasi"
print(d)

suresh
hyderabad
30
thirty
delhi
ramesh
twenty
[['ramesh', 'suresh'], ['bangalore', 'hyderabad', 'delhi'], [10, 20, 30, ['ten', 'twenty', 'thirty']]]
[['ramesh', 'vignesh'], ['bangalore', 'hyderabad', 'varanasi'], [10, 20, 30, ['ten', 'twenty', 'thirty']]]

In [100]:
s1 = {"rajesh","suresh","vignesh","manish"}
print(s1)

{'manish', 'vignesh', 'suresh', 'rajesh'}

In [101]:
n = {10,20,20,40,59,40,67,89,67}
print(len(n))

6

In [103]:
I = "Besant technologies"

set = str[I]
print(set)

TypeError: 'type' object is not subscriptable

In [104]:
My_stu =

SyntaxError: invalid syntax (2199608526.py, line 1)

In [112]:
for i in range(5,101,5):
    print(i)
    
m_of_five = list(range(5,101,5))

print(m_of_five)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [113]:
for i in range(40,3,-4):
    print(i)
    
f_table = list(range(40,3,-4))
print(f_table)

40
36
32
28
24
20
16
12
8
4
[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [118]:
odd = list(range(99,10,-2))
print("odd =",odd)

odd = [99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11]

In [119]:
even = list(range(50,1,-2))
print(even)

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [124]:
d1 = {
    "Trainers": 10,
    "Students": 100,
    "Course"  : "python"
}

print(d1)
d1["Trainers"] = 15
print(d1)
d1["place"] = "Marathahalli"
print(d1)

{'Trainers': 10, 'Students': 100, 'Course': 'python'}
{'Trainers': 15, 'Students': 100, 'Course': 'python'}
{'Trainers': 15, 'Students': 100, 'Course': 'python', 'place': 'Marathahalli'}

In [127]:
d = {
    "Year" : 2022,
    "Month": "January",
    "Day"  : "Monday"
}
print(d)
d["Month"] = "May"
d["Day"]   = "Thursday"
d["Date"]  = "20/05/2022"
print(d)

{'Year': 2022, 'Month': 'January', 'Day': 'Monday'}
{'Year': 2022, 'Month': 'May', 'Day': 'Thursday', 'Date': '20/05/2022'}

In [138]:
w = int(input("Enter the temperature to know how the weather is: "))
if w<=0 or w==14:
    print("Today is very cold")
elif w==15 or w<=34:
    print("Today is simple weather")
elif w==35 or w<=45:
    print("Today is very hot")
else:
    print("Cannot Live in this weather")

Enter the temperature to know how the weather is: 27
Today is simple weather

In [140]:
n = int(input("Even if you are girl & Odd if you are a guy:"))
if n%2==0:
    print("She is a girl")
else:
    print("He is a guy")

Even if you are girl & Odd if you are a guy:7
He is a guy

In [143]:
a = int(input("Enter your age: "))
if a<0:
    print("Take a birth 1st")
elif a==0 or a<=14:
    print("You belong to kids")
elif a==15 or a<=60:
    print("You are young")
elif a==60 or a<=100:
    print("You are old")
else:
    print("You might be alien")

Enter your age: 999
You might be alien

In [149]:
a = int(input("Enter your age:"))
g = str(input("Enter your gender:"))

if g == "Male" or g == "MALE" or g == "male":
    if a>=21:
        print("You are eligible for marriage")
    else:
        print("Grow up kid to get married")
elif g == "Female" or g == "FEMALE" or g == "female":
    if a>=18:
        print("You are eligible for marriage")
    else:
        print("Grow up kiddo")
else:
    print("Enter correct gender")

Enter your age:18
Enter your gender:his
Enter correct gender

In [154]:
y = int(input("Enter any year to find if it a leap year or centurian leap year: "))

if y%4==0:
    if y%400==0:
        print("Centurian Leap year")
    else:
        print("Leap year")
else : 
    print("Normal Year")

Enter any year to find if it a leap year or centurian leap year: 2001
Normal Year

In [159]:
x = 2

while x < 101:
    print(x)
    x = x+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [160]:
o = 1
while o < 100:
    print(o)
    o = o+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [175]:
start = ord('A')
end = ord('Z')
while start <= end:
    print(chr(start), end= " ")
    start += 1

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [177]:
start = ord('z')
end = ord('a')
while start >=end:
    print(chr(start), end = " ")
    start -=1

z y x w v u t s r q p o n m l k j i h g f e d c b a

In [187]:
x = [0,5,10,15,20,25,30,35,40,45,50]

i = len(x) - 1

while i>=1:
    print("5*",i,"=",x[i])
    i -= 1

5* 10 = 50
5* 9 = 45
5* 8 = 40
5* 7 = 35
5* 6 = 30
5* 5 = 25
5* 4 = 20
5* 3 = 15
5* 2 = 10
5* 1 = 5

In [195]:
x = [0,5,10,15,20,25,30,35,40,45,50]

i = 0

while i<len(x):
    print("5*",i,"=",x[i])
    i += 1

5* 0 = 0
5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [198]:
l = [10,20,30,40]

i = 0

while i<len(l):
    print(l[i])
    i += 1

10
20
30
40

In [203]:
t = (10,20,30,40)

i = len(t)-1

while i>=0:
    print(t[i])
    i -=1

40
30
20
10

In [207]:
# Read a number from keyboard input
num = input("Enter a number: ")

# Initialize digit count to 0
digit_count = 0

# Iterate through each character in the input number
for char in num:
    # Check if the character is a digit
    if char.isdigit():
        digit_count += 1

# Print the number of digits found
print("Number of digits in the input:", digit_count)

Enter a number: 988643456
Number of digits in the input: 9

In [208]:
n = input("Enter any number to find number of digits in it: ")

digit_count = 0

for char in num:
    if char.isdigit():
        digit_count += 1
print("Number of digits in number are: ",digit_count)

Enter any number to find number of digits in it: 234556677
Number of digits in number are:  9

In [211]:
n = int(input("Enter any number to find it's factorial: "))
m = 1

for i in range(1,n+1):
    m = m*i
print(m)

Enter any number to find it's factorial: 7
5040

In [212]:
e = [10,11,12,13,15,14,16,18,17,19,20]

print(e)

[10, 11, 12, 13, 15, 14, 16, 18, 17, 19, 20]

In [218]:
print(e[0::2])

[10, 12, 15, 16, 17, 20]

In [219]:
print(e[1::2])

[11, 13, 14, 18, 19]

In [226]:
print(e[-1::-2])

[20, 17, 16, 15, 12, 10]

In [227]:
print(e[-2::-2])

[19, 18, 14, 13, 11]

In [238]:
for i in e:
    if i%2==0:
        print(i)

10
12
14
16
18
20

In [237]:
for i in e:
    if i%2!=0:
        print(i)

11
13
15
17
19

In [239]:
print(sum(e))

165

In [241]:
es = sum(x for x in e if x%2 ==0)

print("Sum of all even numbers in list are:",es)

Sum of all even numbers in list are: 90

In [242]:
os = sum(x for x in e if x%2 !=0)

print("Sum of all odd numbers in list are:",os)

Sum of all odd numbers in list are: 75

In [246]:
ei = sum(x for e[x] in e if e[x]%2 == 0 )
print("Sum of even indexed numbers are: ",ei)

TypeError: list indices must be integers or slices, not list

In [247]:
# Define the list
numbers = [10, 11, 12, 13, 15, 14, 16, 18, 17, 19, 20]

# Initialize sum to 0
sum_even_index = 0

# Iterate over the list with indices
for index in range(len(numbers)):
    # Check if the index is even
    if index % 2 == 0:
        # Add the element at even index to sum
        sum_even_index += numbers[index]

# Print the sum of elements at even index positions
print("Sum of elements at even index positions:", sum_even_index)

Sum of elements at even index positions: 90

In [248]:
s_e_i = 0
for i in range(len(e)):
    if i % 2 == 0:
        s_e_i += e[i]
print("Sum of elements at evn index positions:",s_e_i)

Sum of elements at evn index positions: 90

In [1]:
def school():
    print("Schools are opened")
school()

Schools are opened

In [3]:
def course(x):
    print("Welcome to the Course",x)
course("Python")

Welcome to the Course Python

In [24]:
def e(x):
    e = tuple(i for i in range(x) if i % 2 == 0)
    return e
e(10)

def f(x):
    for i in range(0,x):
        if i%2 == 0:
            l= tuple(i,end = ",")
            print(l)
f(10)

TypeError: tuple() takes no keyword arguments

In [16]:
def even_elements_tuple(x):
    # Generate even elements in the range and store them in a tuple
    even_elements = tuple(i for i in range(x) if i % 2 == 0)
    return even_elements

# Example usage:
result = even_elements_tuple(10)
print(result)  # Output: (0, 2, 4, 6, 8)

(0, 2, 4, 6, 8)

In [30]:
def o(y):
    o = list(i for i in range(y) if i % 2 != 0)
    return o
o(99)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97]

In [31]:
def m(x,y):
    add = x + y
    sub = x - y
    mul = x * y
    print("Addition= ",add)
    print("Subtraction= ",sub)
    print("Multiplication= ",mul)
m(76,46)

Addition=  122
Subtraction=  30
Multiplication=  3496

In [39]:
def n(x):
    l = list(range(x)) 
    return l
n(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
def o(y):
    o = list(i for i in range(y) if i % 1 == 0)
    return o
o(99)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [40]:
def s(x,y):
    c = x + y
    return c
s("Besant","TECHNOLOGIES")

'BesantTECHNOLOGIES'

In [45]:
def p(x,y,z):
    a = x+y+z
    return a
print("Sum =",p(179,131,127))

Sum = 437

In [51]:
def b(a,c,b):
    s = a+b+c
    return s
b(19,29,b=117)

165

In [54]:
def d(name,age,place="Uzumaki"):
    print(name,age,place)
d("Arun",23,"Puttur")

Arun 23 Puttur

In [73]:
def p(**x):
    for k,v in x.items():
        print(k,"=",v)
p(Patient_Name ="Ramana",Blood_group = "O+",Suffering_of = "(Diabetes)" "(Cholestral)", Email_id = "ranhes@gmail.com" )

Patient_Name = Ramana
Blood_group = O+
Suffering_of = (Diabetes)(Cholestral)
Email_id = ranhes@gmail.com

In [71]:
def f1(**d):
    for k,v in d.items( ):
        print(k,'=',v)
f1(Patient_Name = 'Rajnath', Bloodgroup = 'A+', Suffering_from = '(Diabetes)' '(Cholestrol)' '(Asthma)', Email_id = 'random@gmail.com')

Patient_Name = Rajnath
Bloodgroup = A+
Suffering_from = (Diabetes)(Cholestrol)(Asthma)
Email_id = random@gmail.com

In [74]:
def f(*x):
    print(x)
f("Cameroon","camerooncreations@gmail.com","126,Gulmohar Enclave Road,Silver Springs Layout")

('Cameroon', 'camerooncreations@gmail.com', '126,Gulmohar Enclave Road,Silver Springs Layout')

In [ ]:
# Initialize an empty list
my_list = []

# Read and store 10 elements from keyboard
for i in range(10):
    element = input(f"Enter element {i+1}: ")
    my_list.append(element)

# Print all list elements
print("List elements:", my_list)

# Ask user to enter a position and element to insert before that position
try:
    position = int(input("Enter position to insert (0 to {}): ".format(len(my_list))))
    element = input("Enter element to insert: ")
    my_list.insert(position, element)
    print("List after insertion:", my_list)
except ValueError:
    print("Invalid input for position. Please enter a valid integer.")

# Ask user to enter an element to delete from list
element_to_delete = input("Enter element to delete from list: ")
if element_to_delete in my_list:
    my_list.remove(element_to_delete)
    print("List after deletion of '{}' element: {}".format(element_to_delete, my_list))
else:
    print("'{}' not found in the list.".format(element_to_delete))

# Ask user to enter a position to delete from list
try:
    position_to_delete = int(input("Enter position to delete (0 to {}): ".format(len(my_list)-1)))
    if 0 <= position_to_delete < len(my_list):
        del my_list[position_to_delete]
        print("List after deletion at position {}: {}".format(position_to_delete, my_list))
    else:
        print("Invalid position. Please enter a valid position.")
except ValueError:
    print("Invalid input for position. Please enter a valid integer.")

# Ask user to enter an element and print its position if available, else print -1
element_to_find = input("Enter element to find its position: ")
if element_to_find in my_list:
    position = my_list.index(element_to_find)
    print("Position of '{}' in the list: {}".format(element_to_find, position))
else:
    print("Element '{}' not found in the list. Position: -1".format(element_to_find))

In [1]:
x = [('a',10), ('r',20), ('u',30), ('n',40)]
print([t[1] for t in x])

[10, 20, 30, 40]

In [5]:
x = ['a','b','c','d']
y = [11,22,33,44]
l = list(zip(x, y))
print(l)

[('a', 11), ('b', 22), ('c', 33), ('d', 44)]

In [6]:
x = ['a','b','c','d']
y = [11,22,33,44]
d = {key : value for key, value in zip(x,y)}
print(d)

{'a': 11, 'b': 22, 'c': 33, 'd': 44}

In [7]:
x = ['hi','python','we','write','python','we','say','hi','python']
w_s = {}
for i in x:
    if i in w_s:
        w_s[i] += 1
    else:
        w_s[i] = 1
print("Word Scores are: ",w_s)

Word Scores are:  {'hi': 2, 'python': 3, 'we': 2, 'write': 1, 'say': 1}

In [8]:
x = [('hi','noun'),('good','adj'),('run','verb'),('bad','adj'),('good','adj')]
y = []

for i in x:
    if i[1] == 'adj':
        y.append(i[0])
print(y)

good_count = 0
bad_count = 0

for i in y:
    if i == 'good':
        good_count += 1
    else:
        bad_count += 1
print(good_count)
print(bad_count)

if good_count > bad_count:
    print("Sentiment : Positive")
elif good_count < bad_count:
    print("Sentiment : Negative")
else:
    print("Sentiment : Neutral")

['good', 'bad', 'good']
2
1
Sentiment : Positive

In [11]:
x = [('hi','noun'),('good','adj'),('run','verb'),('bad','adj'),('good','adj')]
y = []

for i in x:
    if i[1] == 'adj':
        y.append(i[0])
print(y)

g_c = 0
b_c = 0

for i in y:
    if i == 'good':
        g_c += 1
    else:
        b_c += 1
print(g_c)
print(b_c)

if g_c > b_c:
    print("Sentiment is Positive")
elif g_c < b_c:
    print("Sentiment is Negative")
else:
    print("Sentiment is Neutral")

['good', 'bad', 'good']
2
1
Sentiment is Positive

In [17]:
class School():
    Open = "Schools will start at 8am  in the morning"
    Close  = "Schools will be closed at 3pm in the afternoon"
s = School()
print(s.Open)
print(s.Close)

Schools will start at 8am  in the morning
Schools will be closed at 3pm in the afternoon

In [20]:
class College:
    take     = "Students take admission into College"
    complete = "Students will complete their course"
c = College()
print(c.take)
print(c.complete)

Students take admission into College
Students will complete their course

In [23]:
class institute:
    coach = "Institute will provide Coaching for you"
    place = "Institute will place you as a python developer"
i = institute()
print(i.coach)
print(i.place)

Institute will provide Coaching for you
Institute will place you as a python developer

In [24]:
class Doctor:
    check = "Doctor checks the patient"
    give  = "Doctor prescribes the Medicines"
d = Doctor()
print(d.check)
print(d.give)

Doctor checks the patient
Doctor prescribes the Medicines

In [40]:
class TD:
    def m1(self):
        print("We train you to become best")
    def m2(self):
        print("Give us a chance to make you learn")
class SD:
    def m3(self):
        print("We offer you for best price")
    def m4(self):
        print("If your percentage is good there will be discount")
class HD:
    def m5(self):
        print("As soon as you learn things you can attend interviews")
    def m6(self):
        print("If your skill is explicit.You will be placed")
class MD:
    def m7(self):
        print("Refer people to us if you are placed")
    def m8(self):
        print("Hope your experience with us is great")
o1 = TD()
o2 = SD()
o3 = HD()
o4 = MD()
o1.m1()
o1.m2()
o2.m3()
o2.m4()
o3.m5()
o3.m6()
o4.m7()
o4.m8()

We train you to become best
Give us a chance to make you learn
We offer you for best price
If your percentage is good there will be discount
As soon as you learn things you can attend interviews
If your skill is explicit.You will be placed
Refer people to us if you are placed
Hope your experience with us is great

In [45]:
class Employee:
    def m(self):
        print("Hey World")
    def mm(self):
        print("Hey Python")
e = Employee()
e.m()
e1 = Employee()
e1.mm()

Hey World
Hey Python

In [47]:
class Doctor:
    def n(self,name):
        print("Hey",name)
    def nn(self,name,speciality):
        print(name,"is a",speciality)
d  = Doctor()
d1 = Doctor()
d.n("VANI")
d.nn("VANI","Dentist")

Hey VANI
VANI is a Dentist

In [51]:
class Patient:
    def __init__(self,pno,pname,p_age):
        print("Patient Number:",pno)
        print("Patient Name  :",pname)
        print("Patient Age   :",p_age)
    def m(self,place):
        print("Patient Place :",place)
p1 = Patient(275,"Nick",27)

p1.m("Agara")

Patient Number: 275
Patient Name  : Nick
Patient Age   : 27
Patient Place : Agara

In [52]:
# Original set
my_set = {1, 2, 3, 4}

# Let's say we want to change 3 to 30
if 3 in my_set:  # Check if the element exists
    my_set.remove(3)  # Remove the old element
    my_set.add(30)    # Add the new element

print(my_set)  # Output: {1, 2, 4, 30}

{1, 2, 4, 30}

In [59]:
s = {23,47,73,37}
s.add(97)
s.pop()
print(s)

{37, 73, 47, 23}

In [62]:
print(z)

z = 10

NameError: name 'z' is not defined