In [1]:
n = 1
for i in range(1,6):
    for j in range(i):
        print(n,end=" ")
        n += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
n = 1 
for i in range(0,6):
    for j in range(i):
        if (n%2 == 0):
            print("0",end = " ")
        else:
            print("1",end = " ")
        n+=1
    print()

1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

In [15]:
n = int(input("Enter number of rows: "))
for i in range(1,6):
    for j in range(1,6):
        if i+j>=6:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print("\n")

Enter number of rows: 9
        *

      * *

    * * *

  * * * *

* * * * *

In [17]:
arr = np.array([1,2,3,4])
print(arr[2]+arr[3])

7

In [18]:
arr = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print("2nd element on 1st row: ",arr[0,1])

2nd element on 1st row:  2