In [25]:
details = [["Ramesh","Suresh"],
          ["Bangalore","Hyderabad","Delhi"],
          [10,20,30,["ten","twenty","thirty"]]]


e1 = (details[0])
print(e1)
print(e1[1])

['Ramesh', 'Suresh']
Suresh

In [26]:
print(details[0][1])

Suresh

In [27]:
print(details[1][1])

Hyderabad

In [30]:
print(details[2][2])

30

In [33]:
print(details[2][3][2])

thirty

In [35]:
print(details[1][2])

Delhi

In [39]:
print(details[0][1])

Suresh

In [44]:
print(details[2][3][1])
print(type(details))

twenty
<class 'list'>

In [47]:
(details[0][1]) = "Vignesh"
print(details)

[['Ramesh', 'Vignesh'], ['Bangalore', 'Hyderabad', 'Delhi'], [10, 20, 30, ['ten', 'twenty', 'thirty']]]

In [48]:
(details[1][2]) = "Varanasi"
print(details)

[['Ramesh', 'Vignesh'], ['Bangalore', 'Hyderabad', 'Varanasi'], [10, 20, 30, ['ten', 'twenty', 'thirty']]]